.config/zsh/.zcompdump*
.config/zsh/.histfile
.local/share/z
.config/.oh-my-zsh
.config/spotify
.config/Signal
.config/pulse
.config/bashtop/error.log
.config/chromium
.config/dconf/user
.config/nvim/.netrwhist
