! special
*.foreground:   #eceff1
*.background:   #1c1c1c
*.cursorColor:  #eceff1

! black
*.color0:       #263238
*.color8:       #37474f

! red
*.color1:       #ff9800
*.color9:       #ffa74d

! green
*.color2:       #8bc34a
*.color10:      #9ccc65

! yellow
*.color3:       #ffc107
*.color11:      #ffa000

! blue
*.color4:       #03a9f4
*.color12:      #81d4fa

! magenta
*.color5:       #e91e63
*.color13:      #ad1457

! cyan
*.color6:       #009688
*.color14:      #26a69a

! white
*.color7:       #cfd8dc
*.color15:      #eceff1

URxvt.font: xft:Jetbrains Mono Medium:size=11
URxvt.boldFont xft:DejaVu Sans Mono:size=11
URxvt.scrollBar: false
Urxvt.imLocale: en_IE.UTF-8

URxvt.perl-ext-common:default,resize-font,url-select
URxvt.keysym.C-u:perl:url-select:select_next
URxvt.url-select.launcher:/usr/bin/xdg-open
URxvt.url-select.underline:true
